body{
	font-family: Arial, Sans-serif, Times;
	padding:0;
	margin:0;
	background-color:#cfdddd;

}
/* global */
.container{
	width:80%;
	margin: auto;
	overflow:hidden;
	display: inline;
}
/* header */

header{
	background-color:#F1948A;
	padding-top:20px;
	min-height: 70px;

	
}
header a{
	text-decoration: none;
	text-transform: uppercase;

}
header #name h1{
margin:0;
padding: 0;
}

header li{
	float:left;
	display:inline;
	padding: 0 20px 0 20px;
}
header nav{
	float:right;
}

/* about me */
section #aboutme{
	overflow:hidden;
}
#aboutme{
	background-color:#E74C3C;
	padding:10px 10px 10px 10px;


}

#selfie{
	
	width:15%;
	height:15%;
}
section h4{
	color: #FDFEFE;
	text-align: center;



}
/* projects */

h2{
	color: #FDFEFE;
	text-align: center;
	
}
#project{
	background-color:#CB4335;
	padding:2% 2% 2% 2%;
	overflow: hidden;
	
}

/* contact me */

#contact{
	 background-color: #B03A2E;

}
#social{
	padding:5% 10% 5% 10%;

}
/* footer */ 

footer{
	background-color: #78281F;
	text-align: center;
	color: #FDFEFE;
}




