

body {
	font-family: Arial, Sans-serif, Times;
	b

}

/* header */

header{
	background-color:#F1948A;
	padding-top:20px;
	min-height: 70px;


}
header a{
	text-decoration: none;
	text-transform: uppercase;

}
header #name h1{
margin:0;
padding: 0;
}

header li{
	float:left;
	display:inline;
	padding: 0 20px 0 20px;
}
header nav{
	float:right;
}

/* about me */
section #aboutme{
	overflow:hidden;
}
#aboutme{

	margin:2% 0 2% 0;
	text-align: center;
	background-color:#922B21;

}
#aboutme h4{
	text-align: center;
	margin:15% 0 2% 0;
	color:#ffffff;
}

#selfie{
margin: 2% 0 2% 0;
width:35%;
height: auto;
border-radius: 35%;

}
section h4{
	color: #FDFEFE;
	text-align: center;



}
/* projects */

h2{
	color: #FDFEFE;
	text-align: center;

}
#projects{
	background-color:#922B21;
	margin:2% 0 2% 0;
	overflow: hidden;


}

/* contact me */
#contact{
	background-color:#922B21;
	overflow: hidden;
}
/* footer */

footer{
	background-color: #283747;
	text-align: center;
	color: #FDFEFE;
}
